<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="not-found content">
        <h2>OOPS, page not found :)</h2>
        <% if (error_message) { %>
            <p><%= error_message %></p>
        <% } %>
    </div>

    <%- include("./partials/footer.ejs")%>
</body>
</html>